@font-face {
    font-family: 'Balqis';
    font-weight: 700;
    src: url('../assets/fonts/Balqis.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../assets/fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../assets/fonts/RobotoCondensed-Light.ttf) format('truetype');
}