@font-face {
  font-family: "Balqis";
  font-weight: 700;
  src: url("../assets/fonts/Balqis.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../assets/fonts/RobotoCondensed-Light.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.section {
  position: relative;
}

header {
  margin-bottom: 7%;
}
header img {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 62%;
  position: absolute;
  margin: 4% 19%;
  top: 0px;
}
header .menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
header a {
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: black;
  font-size: 1.2vw;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}
header a:hover {
  border-color: #E2AB3F;
  padding-bottom: 5px;
  color: rgb(51, 51, 51);
}
header .Cappadocia {
  position: absolute;
  width: 56%;
  font-size: 6.5vw;
  margin: 15% 22%;
  z-index: 1;
  top: 0;
  font-family: "Balqis";
}

main {
  margin-bottom: 7%;
}
main .fairy-tale {
  margin-left: 19%;
  font-size: 4vw;
  font-family: "Balqis";
  font-weight: 400;
  color: #E2AB3F;
  margin-bottom: 4%;
}
main .first-part {
  display: flex;
  justify-content: space-between;
  margin-right: 16.5%;
  gap: 4%;
}
main .first-part .photo {
  width: 62%;
  position: relative;
}
main .first-part .photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .first-part .photo #left-btn {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  cursor: pointer;
}
main .first-part .photo #right-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  width: 20px;
}
main .text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 38%;
}
main .text-part p {
  font-size: 1vw;
  font-family: "Roboto Condensed";
  font-weight: 300;
}
main .second-part {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  margin-left: 19%;
}
main .second-part .text-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22%;
}
main .our-trip {
  font-family: "Balqis";
  font-size: 4vw;
  color: #E2AB3F;
}
main .second-part .photo {
  width: 62%;
}
main .second-part .photo img {
  width: 100%;
}
main .second-part .date {
  margin-top: 10%;
  font-family: "Roboto Condensed";
  font-size: 1vw;
}
main .second-part .date-text {
  font-size: 1vw;
  font-family: "Roboto Condensed";
  font-weight: 300;
}
main .second-part .button {
  margin-top: 10%;
  border: 1px solid #E2AB3F;
  text-align: center;
  width: 13vw;
  padding: 3% 3%;
  font-size: 1.2vw;
}
main .second-part .button a {
  color: black;
}
main .third-part {
  width: 62%;
  margin: 7% 19%;
}
main .third-part h1 {
  font-family: "Balqis";
  font-size: 4vw;
  color: #E2AB3F;
  margin-bottom: 5%;
}
main .photo-text-card {
  display: flex;
  justify-content: space-between;
}
main .text-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
main .cards {
  width: 60%;
  display: grid;
  flex-wrap: wrap;
}

footer img {
  width: 100%;
}

@media screen and (min-width: 415px) {
  .mobile-header, .burger-menu {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .header-bg, nav a {
    display: none;
  }
  .mobile-header {
    width: 100%;
  }
  .Cappadocia h1 {
    margin-top: 50%;
  }
  .burger-menu {
    color: #E2AB3F;
    size: 5%;
  }
  main {
    width: 100%;
    max-width: 414px;
  }
  main .first-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .first-part .photo {
    width: 100%;
  }
  main .first-part .text-part {
    width: 100%;
    text-align: justify;
  }
  main .second-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0% !important;
  }
  main .second-part .photo {
    width: 100%;
  }
  main .second-part .text-part {
    width: 100%;
    align-items: center;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=main.css.map */